@import "tailwindcss";

@tailwind base;

@layer base {
  h1 {
    font-size: var(--text-2xl);
  }
  h2 {
    font-size: var(--text-xl);
  }
  h3 {
    font-size: var(--text-lg);
  }
}

@tailwind components;
@tailwind utilities;

:root {
  --background: #FFF9F0;
  --foreground: #272524;

}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@theme {

  --color-sage: oklch(0.7875 0.0568 138.56);
  --color-sage-50: oklch(0.975 0.02 138.56);
  --color-sage-100: oklch(0.92 0.03 138.56);
  --color-sage-200: oklch(0.86 0.04 138.56);
  --color-sage-300: oklch(0.81 0.05 138.56);
  --color-sage-400: oklch(0.7875 0.0568 138.56); /* base */
  --color-sage-500: oklch(0.72 0.055 138.56);
  --color-sage-600: oklch(0.62 0.048 138.56);
  --color-sage-700: oklch(0.5 0.04 138.56);
  --color-sage-800: oklch(0.38 0.03 138.56);
  --color-sage-900: oklch(0.26 0.02 138.56);
  --color-sage-950: oklch(0.18 0.015 138.56);

  --color-espresso: oklch(0.2663 0.0035 48.59);
  --color-espresso-50: oklch(0.985 0.002 48.59);
  --color-espresso-100: oklch(0.934 0.0025 48.59);
  --color-espresso-200: oklch(0.812 0.0028 48.59);
  --color-espresso-300: oklch(0.643 0.0031 48.59);
  --color-espresso-400: oklch(0.451 0.0033 48.59);
  --color-espresso-500: oklch(0.355 0.0034 48.59);
  --color-espresso-600: oklch(0.2663 0.0035 48.59); /* base */
  --color-espresso-700: oklch(0.210 0.0035 48.59);
  --color-espresso-800: oklch(0.155 0.0035 48.59);
  --color-espresso-900: oklch(0.105 0.0035 48.59);
  --color-espresso-950: oklch(0.075 0.0035 48.59);

  --color-menu: var(--color-sage);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #272524;
    --foreground: #FFF9F0;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
